.headers-cont {
    @include xs {
        overflow-x: scroll;
    }
}

.about-head {


    .nav-tabs {
        border: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        @include xs {
            flex-direction: row;
            width: 500px;
            margin-bottom: 25px;
        }

        li {
            margin-bottom: 20px;

            @include xs {
                margin: 0;
                margin-right: 20px;

                #{$rtl} & {
                    margin: 0;
                    margin-left: 20px;
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                @include xs {
                    margin: 0;
                    margin-right: 0;

                    #{$rtl} & {
                        margin: 0;
                    }
                }
            }
        }
    }

    .tab-link {
        font-size: 24px;
        color: #000;
        padding: 0;
        border-radius: 0;
        position: relative;
        border: none !important;
        @include transition(all 0.3s ease-in-out);

        @include xs {
            font-size: 18px;
        }

        &:hover {
            background-color: transparent;
            color: $text;
        }
    }

    li.active {
        .tab-link {
            color: $text !important;
            pointer-events: none;

        }
    }

}