body {
    position: relative;
    font-family: reg;
    max-height: 100vh;
    background-color: black;

    #{$rtl} & {
        font-family: ar;
    }

    &::-webkit-scrollbar {
        background-color: #fff;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a69038;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #a69038 #fff;





    @media (min-width: 1400px) {
        // Width > 1200px
        font-size: 60%; // 1rem 9.6px, 9.6/16 = 56.25%
    }

    @media (min-width: 1700px) {
        font-size: 62.5%;
    }

    @media (max-width: 1400px) {
        font-size: 50%; // 8px 
    }

    @media (max-width: 1199px) {
        font-size: 30%; // 8.5px 
    }

    // @media (max-width: 992px) {
    //     @content;
    // }

    // @media (max-width: 767px) {
    //     @content;
    // }
}

.overflow {
    overflow: hidden !important;
}


.container-fluid {
    padding: 0 7rem;
}