@font-face {
    font-family: 'reg';
    src: url('../fonts/pop/POPPINS-REGULAR.TTF');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/pop/POPPINS-LIGHT.TTF');
}

@font-face {
    font-family: 'med';
    src: url('../fonts/pop/POPPINS-MEDIUM.TTF');
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/pop/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/pop/POPPINS-BOLD.TTF');
}

@font-face {
    font-family: 'exbold';
    src: url('../fonts/pop/POPPINS-EXTRABOLD.TTF');
}


@font-face {
    font-family: 'ar';
    src: url('../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF');
}

@font-face {
    font-family: 'ar-light';
    src: url('../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF');
}

@font-face {
    font-family: 'ar-med';
    src: url('../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF');
}

@font-face {
    font-family: 'ar-bold';
    src: url('../fonts/TAJAWAL/TAJAWAL-BOLD.TTF');
}

@font-face {
    font-family: 'ar-exbold';
    src: url('../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF');
}