.service-cont {
    &.eng-cont {
        background-image: url("../images/eng-services.jpg");
    }

    &.re-cont {
        background-image: url("../images/re-services.jpg");
    }

    .page-content {
        flex-direction: column;
        position: static;
    }

    .page-head {
        text-transform: capitalize;
        margin-bottom: 11rem;
        position: relative;
        z-index: 99;

        @include xs {
            // margin-bottom: 50px;
            font-size: 35px;
            text-align: center;
        }
    }

    .services-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position: relative;
        z-index: 99;

        @include xs {
            justify-content: center;
            flex-direction: column;
            display: block;
        }
    }

    .services-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:hover {
            .service-link-name {
                color: $gold;
            }

            img {

                transform: scale(1.05);
            }
        }

        @include xs {
            margin: auto;
        }
    }

    .service-link-img {
        width: 102px;
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        img {
            backface-visibility: hidden;
            @include transition(all 0.3s ease-in-out);
            width: auto !important;
        }

        @include xs {
            margin-bottom: 15px;
        }
    }

    .service-link-name {
        font-size: 2rem;
        font-family: med;
        color: $fff;
        @include transition(all 0.3s ease-in-out);

        @include xs {
            font-size: 18px;
        }

        #{$rtl} & {
            font-family: ar-med;
            font-size: 2.3rem;

            @include xs {
                font-size: 20px;
            }
        }
    }
}